
body{
	margin: 0%;
	background-position:center;
	background-image: url("Background_Image.png");	
	background-size: 400px, 600px;
	background-origin: content-box;
}

ul.topnav{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgba(28,28,30,1.00);
	border: 1px solid #ddd;
	border-bottom-right-radius: 5%;
}

ul.topnav li{
	float:left;
}

ul.topnav li a{
	display: inline-block;
    color:rgba(255,255,255,1.00);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
	font-family: "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	
}

ul.topnav li a:hover{              /*top navigation bar link edit when hover*/
	color: rgba(255,255,255,0.60);
	background-color:rgba(255,255,255,0.30);
	text-decoration:underline;
	transition: 0.2s;
}
#Logo{                               /*my website logo customization*/
	position: relative;
	background-color:rgba(28,28,30,1.00);
	display: inline-block;
	margin-top: 0%;
	margin-bottom: 0%;
	float: left;
	border: 1px solid #ddd;
	border-bottom-left-radius: 10%;
	z-index:1;
}
.topnav .icon {
	display: none;
	}

#HeaderBackgroundImage{              /*the backdrop image to my homepage.*/
	position: absolute;
	z-index:-1;
	float: left;
}

#ButtomNav{                          /*the configuration of the placement for my navigation*/
	position: absolute;
	margin-top: 170px;
	float: left;
}

#ButtomNav a img{
	border-radius: 50%;
	margin: 15px;
	opacity: 0.7;
	border: 1px solid #ddd;
    padding: 2px;
	width: 100px;
	height: 100px;
}
#ButtomNav a img:hover{
	transform: scale(1.5);
	opacity: 1;
	transition: 0.3s;
}


/*this is my homepage.
 the goal here really was to make it appealing specifically for desktop view. due to the fact that i haven't yet become adept with the flex property tool enough to manipulate how the buttom circular nave would react on the small screen, i decided to remove them from there completely while pushing the bounderies on the desktop view*/
section#HomePage{
	position: relative;
	background-color: rgba(122,122,122,0.60);
	border: solid;
	border-radius: 30px;
	border-color: rgba(255,255,255,0.00);
	margin-top: 350px;
	padding: 1px;
}

#Welcome header h1{
	background-color:rgba(255,255,255,0.40);
    color: rgba(255,255,255,1.00);
    text-align:center;
	text-decoration:underline;
	font-size: 50px;
	padding: 3px;
	margin: 25px;
	border: solid;
	border-color: rgba(255,255,255,0.50);
	border-width: thin;
	border-radius: 20px;
}

.HomeArticle{
	text-align:center;
	font-size: 20px;
	color: rgba(255,255,255,1.00);
}

#Welcome img{
	position: relative;
	border-radius: 10%;
	max-width: 100%;
    height: auto;
	display: block;
    margin: auto;
	border: 1px solid #ddd;
    padding: 5px;
}

/*About Me Page!!
This is where my about me page, begins. my code was getting a bit long and harder to locate things. so i had to set out long block of comment to keep track on what it was that i was actually working on and where to find them. so that is what these particular long block of comments are*/

#AboutMePage{
	position: relative;
	background-color: rgba(122,122,122,0.60);
	border: solid;
	border-radius: 30px;
	border-color: rgba(255,255,255,0.00);
	margin-top: 50px;
	padding: 1px;
}
#AboutMePage article header h1{
	background-color:rgba(255,255,255,0.40);
    color: rgba(255,255,255,1.00);
    text-align:center;
	font-size: 40px;
	margin: 5px;
	border: solid;
	border-color: rgba(255,255,255,0.50);
	border-width: thin;
	border-radius: 20px;
}


#AboutMePage img{
	position: relative;
	border-radius: 50%;
	max-width: 100%;
    height: auto;
	display: block;
    margin: auto;
	border: 1px solid #ddd;
    padding: 5px;
}

.AboutArticle{
	text-align: center;
	font-size: 130%;
	color: rgba(255,255,255,1.00);
}

/*PORTFOLIO
yep it is what it is said to be here nothing to see. going off from the thumbnail tutorial from w3schools, was very helpful. although i feel pretty res*/


#Portfolio{
	position: relative;
	background-color: rgba(122,122,122,0.60);
	color: rgba(255,255,255,1.00);
	border: solid;
	border-radius: 30px;
	border-color: rgba(255,255,255,0.00);
	margin-top: 50px;
	padding: 1px;
}

#Portfolio h1{
	background-color:rgba(255,255,255,0.40);
    color: rgba(255,255,255,1.00);
    text-align:center;
	font-size: 40px;
	margin: 5px;
	border: solid;
	border-color: rgba(255,255,255,1);
	border-width: thin;
	border-radius: 20px;
}

#Portfolio article img {
    border: 1px solid #ccc;
}


#Portfolio article .img img{
	width: 100%;
    height: auto;
	border:solid;
	padding: 3px;
	border-radius: 50%;
	border-color:rgba(255,255,255,0.50);
	border-width: thin;
}

#Portfolio article.desc {
    padding: 15px;
    text-align: center;
	color: rgba(255,255,255,1.00);
	font-weight: strong;
	font-size: 150%;
}

#Portfolio .responsive article a{
	text-decoration: none;
	color: rgba(255,255,255,1.00);
}

#Portfolio .responsive article a:hover{
	text-decoration: none;
	color: rgba(255,255,255,0.50);
}

#Portfolio article.img img:hover {/**/
	opacity: 0.70;
	transform: scale(0.9);
	transition: 0.3s;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#Contact{
	position: relative;
	background-color: rgba(122,122,122,0.60);
	border: solid;
	border-radius: 30px;
	border-color: rgba(255,255,255,0.00);
	margin-top: 50px;
	padding: 1px;	
}

#Contact h1{
	position: relative;
	background-color:rgba(255,255,255,0.40);
    color: rgba(255,255,255,1.00);
    text-align:center;
	font-size: 40px;
	margin: 5px;
	border: solid;
	border-color: rgba(255,246,246,1);
	border-radius: 20px;
	border-width: thin;
	height: auto;
	width: auto;
}

/*From here i start to focus on my link button, trying to see how the background grey borther and the icon play out on the regular page*/


#Media_Icon{/*Icon Background Grey Border*/
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
    background-color: #555;
	border: solid;
	border-color: rgba(255,255,255,0.00);
	border-radius: 20px;
}

#Media_Icon a{/*This is actually the icon themselves*/
	position: relative;
	border: solid;
	border-radius: 20px;
	border-color: rgba(255,255,255,0);
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 10%;
    display: inline-block;
    color: white;
    font-size: 500%;
	}
/*This is where my work on the connect with me icon rection to the mouse hover setting beggins. the goals really was to make it so that
the icon grew when being hovered upon, in a eased in and out fashion*/
#Media_Icon a:hover{
	background-color: rgba(255,255,255,0.30);	
	transform: scale(0.9,0.9);
	transition: 1s;
}

#Footer{
	position: relative;
	background-color:black;
    color: rgba(255,255,255,1.00);
    text-align:center;
	font-size: 150%;
	border: solid;
	border-color: rgba(255,246,246,0.20);
	border-radius: 20px;
	margin-top: 5px;
	margin-bottom: 0%
}


/*All OF THE RESPONSIVE FUNCTIONS TO THE DIFFERENT COMPONENTS TO MY WEBPAGE AS A WHOLE. AND HERE IT ALL IS*/


@media screen and (max-width: 800px){
    
	ul.topnav li{
	display:none;
	}
	
	
}
	

@media screen and (max-width:800px){ /*this makes my aligned menu bar disappear leaving only the dropdown icon to reign*/

#TopNav{
	position:fixed;
	bottom: 0%;
	top:0%;
	width: 100%;
	z-index:2;
}

  ul.topnav li.icon {
    display: block;
  }
  ul.topnav.Responsive {position: relative;}
  ul.topnav.Responsive li.icon {
    position: absolute;
    top: 0;
  }
  ul.topnav.Responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.Responsive li a {
    display: block;
    text-align: right;
  }
	
	#HeaderBackgroundImage{
		display: none;
		z-index:-2;
	}
	
  #Logo{                            /*messing around with logo location here*/
	position: relative;
	padding: 0px;
	margin: 0px;
	z-index: 1;
	}

	#Media_Icon a{/*This is actually the icon themselves*/
	position: relative;
	border: solid;
	border-radius: 20px;
	border-color: rgba(255,255,255,0);
	padding-right: 10px;
	padding-left: 10px;
    display: inline-block;
    color: white;
    font-size: 500%;
	}
	
	
	
	
	
}

@media screen and (max-width:1200px){
	#ButtomNav{
	display: none;
   }
}


